h1 {
	font-size: 12pt;
	margin-top: 20px;
}
.map {
	top: 40px;
	bottom: 10px;
	left: 10px;
	right: 10px;
}
#sidebar {
	display: none;
}
.olControlEditingToolbar {
	display: none;
}
#debug {
	display: none;
}